* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
html, body {
    height: 100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    padding-top: 50px;
}

#skritter-container {
    height: 100%;
    padding-top: 10px;
}


/** FONTS **/
@font-face {
	font-family: "kaisho";
	src: url('../media/font/DFPKaiSho-Md.ttf');
}
@font-face {
	font-family: "simkai";
	src: url('../media/font/simkai.ttf');
}

/** GENERAL **/
.chinese-font {
    font-family: "simkai";
}
.center-text {
  padding: 40px 15px;
  text-align: center;
}
.japanese-font {
    font-family: "kaisho";
}
.lr-padding {
    padding: 0 3px;
}


/** STUDY VIEW **/
#study-view {
    margin-top: 5%;
}
@media (max-width: 900px) {
    #study-view {
        margin-top: 0;
    }
}


/** PROMPT **/
#prompt-container {
    margin: 0 auto;
    max-width: 1170px;
}
#prompt-top {
    float: left;
    max-width: 45%;
    min-width: 30%;
    text-align: center;
}
#prompt-top #writing {
    font-size: 96px;
}
#prompt-top #reading {
    font-size: large;
}
#prompt-top #definition {
    font-size: large;
}
#prompt-top #sentence {
    font-size: large;
}
#prompt-bottom {
    float: right;
}
#prompt-container .prompt-display {
    display: inline-block;
    min-width: 20px;
    margin: 0 5px 0 0;
}
#prompt-container .prompt-hidden {
    display: inline-block;
    min-width: 20px;
    margin: 0 5px 0 0;
    border-bottom: 2px black solid;
}
#prompt-text {
    padding: 30% 0 0 0;
    text-align: center;
}
@media (max-width: 767px) {
    #prompt-top {
        max-width: 95%;
        text-align: center;
    }
    #prompt-top #writing {
        font-size: 68px;
    }
    #prompt-bottom {
        bottom: 3px;
        position: absolute;
    }
}


/** PROMPT CANVAS **/
#canvas-container {
    -moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
    box-shadow: 5px 5px 5px rgba(68,68,68,0.6);  
    border-width: 2px;
    border-style: solid;
    border-color: black;
    cursor: pointer;
    position: relative;
    z-index: 5000; 
}
@media (max-width: 767px) {
    #prompt-canvas {
        border: none;
    }
}
@media (max-width: 605px) {
    #canvas-container {
        box-shadow: none;  
        border-width: 0px;
    }
}


/* GRADING BUTTONS */
#grading-buttons {
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 6000;
}
#grading-buttons div {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    display: inline-block;
    min-height: 50px;
    margin: 0 0 5px 0;
    padding: 15px 12%;
    text-align:  center;
    width: 14%;
}
#grading-buttons #grade1 { background-image: url('../media/image/button/grade1.png'); }
#grading-buttons #grade2 { background-image: url('../media/image/button/grade2.png'); }
#grading-buttons #grade3 { background-image: url('../media/image/button/grade3.png'); }
#grading-buttons #grade4 { background-image: url('../media/image/button/grade4.png'); }


/** FACADE **/
#facade-container {
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    
}
#facade-container #facade-view {
    position: absolute;
    padding: 20% 0 0 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    z-index: 9999;
}
#facade-container #message-area {
    position: relative;
    display: block;
    max-width: 150px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    background: #000000;
    color: #ffffff;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


/** LOGIN FORM **/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin .error-message {
    margin: 10px 0;
}