/*** FONTS ***/
@font-face {
    font-family: "kaisho";
    src: url('../fonts/DFPKaiSho-Md.ttf');
}
@font-face {
    font-family: "simkai";
    src: url('../fonts/simkai.ttf');
}


/*** GENERAL ***/
html, body {
    background-image: url('../images/textures/rice-paper1.png');
    background-repeat: repeat;
    height: 100%;
    overflow-x: hidden;
}
body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: text;
}
#skritter-container {
    height: 100%;
}
.chinese-text {font-family: "simkai", "SimSun", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;}
.cursor {cursor:pointer;}
.grade1 {color: #e68e8e;}
.grade2 {color: #efec10;}
.grade3 {color: #70da70;}
.grade4 {color: #4097d3;}
.japanese-text {font-family: "kaisho", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;}


/*** CANVAS ***/
#input-container {
    background: #ffffff;
    border: 2px #000000 solid;
    cursor: pointer;
    margin: 45px auto 0 auto;
    padding: 0;
    position: relative;
}


/*** GRADING BUTTONS ***/
#grading-buttons {
    bottom: 0;
    margin: 0;
    position: absolute;
    width: 100%;
}
#grading-buttons div {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    display: inline-block;
    min-height: 50px;
    margin: 0 0 5px 0;
    opacity: 0.8;
}
#grading-buttons div:hover { opacity: 1.0; }
#grading-buttons #grade1 { background-image: url('../images/grading/grade1.png'); }
#grading-buttons #grade2 { background-image: url('../images/grading/grade2.png'); }
#grading-buttons #grade3 { background-image: url('../images/grading/grade3.png'); }
#grading-buttons #grade4 { background-image: url('../images/grading/grade4.png'); }


/*** MODALS ***/
.modal { overflow-y: hidden; }
.model #slider { width: 100%; }
.modal #error-message { padding-top: 20px; }
.modal-vertical-centered {
    outline: 0;
    transform: translate(0, 20%) !important;
    -ms-transform: translate(0, 20%) !important;
    -webkit-transform: translate(0, 20%) !important;
}


/*** MODALS: LOGIN ***/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/*** NAVBAR ***/
.navbar .fa-navbar {
    font-size: 18px;
}
.navbar .navbar-text a {
    padding-left: 10px;
    padding-right: 10px;
}
@media (max-width: 992px) {
    .navbar .pull-right {
        padding-right: 15px;
    }
}
@media (max-width: 601px) {
    .navbar .navbar-text a {
        padding-left: 5px;
        padding-right: 5px;
    }
}


/*** OPTIONS ***/
#options-view .control-label {
    min-width: 100px;
}


/*** PROMPT: INFO ***/
#info-container {
    background: #ffffff;
    border-bottom: 2px #000000 solid;
    border-top: 2px #000000 solid;
    border-left: 2px #000000 solid;
    margin: 45px auto 0 auto;
    padding: 10px;
    text-align: center;
}
#info-container .prompt-question {
    margin-bottom: 20px;
    margin-top: 0;
}
#info-container #prompt-writing-box {
    width: 50%;
}
#info-container .prompt-writing-display div {
    float: left;
    margin: 0 5px;
    min-width: 25px;
}
#info-container .prompt-writing-hide {
    border-bottom: 1px #000000 solid;
    padding-top: 50%;
}
#info-container #prompt-reading-box .prompt-reading {
    padding-top: 50%;
}
#info-container .prompt-reading-display div {
    float: left;
    margin: 0 5px;
    min-width: 25px;
}
#info-container .prompt-reading-hide {
    border-bottom: 1px #000000 solid;
}
#info-container #prompt-definition-box {
    clear: both;
}
@media (max-width: 992px) {
    #info-container {
        border-right: 2px #000000 solid;
        margin: -15px 0 0 0;
    }
}
@media (max-width: 601px) {
    #info-container {
        border: none;
        border-bottom: 2px #000000 solid;
    }
}


/*** PROMPT: INPUT ***/
#input-container {
    background: #ffffff;
    border: 2px #000000 solid;
    cursor: pointer;
    margin: 45px auto 0 auto;
    padding: 0;
    position: relative;
}
#input-container #prompt-text {
    height: 100%;
    padding-top: 20%;
    text-align: center;
}
#input-container .prompt-nav-arrow {
    cursor: pointer;
    position: absolute;
    top: 45%;
    opacity: 0.3;
    z-index: 1000;
}
#input-container .prompt-nav-arrow:hover {
    opacity: 1.0;
}
#input-container #prompt-previous {
    left: 15px;
}
#input-container #prompt-next {
    right: 15px;
}
#input-container .prompt-style {
    background: #ffffff;
    left: 0;
    padding: 5px;
    position: absolute;
    top: 0;
}
#input-container .prompt-style-simp {
    /*color: blue;*/
}
#input-container .prompt-style-trad {
    /*color: red;*/
}
@media (max-width: 992px) {
    #input-container {
        margin: 15px auto 0 auto;
    }
}
@media (max-width: 601px) {
    #input-container {
        box-shadow: none;
        border: none;
        margin: 0;
        padding: 0;
        position: absolute;
    }
}


/*** STUDY ***/
#study-view {
    overflow: hidden;
}


/*** VIEW ***/
.view {
    height: 100%;
    padding-top: 60px;
}
.view .content {
    border: 2px #e7e7e7 solid;
    background: #ffffff;
    margin-bottom: 15px;
    padding: 15px;
}


/*** PROMPT: HORIZONTAL ***/
@media (max-height: 601px) and (min-width: 601px) {
    html {
        overflow-y: hidden;
    }
    .container {
        width: 100%;
    }
    #info-container {
        bottom: 0;
        border-bottom: none;
        border-left: none;
        border-top: none;
        position: absolute;
        margin: 45px 0 0 0;
        top: 0;
    }
    #input-container {
        border: none;
        right: 0;
        margin: 45px 0 0 0;
        position: absolute;
        top: 0;
    }
}