/*** FONTS ***/
@font-face {
    font-family: "kaisho";
    src: url('../fonts/DFPKaiSho-Md.ttf');
}
@font-face {
    font-family: "simkai";
    src: url('../fonts/simkai.ttf');
}


/*** GENERAL ***/
html, body {
    background-image: url('../images/textures/rice-paper1.png');
    background-repeat: repeat;
    height: 100%;
    overflow: hidden;
}
body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: text;
}
#skritter-container {
    height: 100%;
}
.badge-part {
    background: #999999;
    border-radius: 5px;
    color : #ffffff;
    float: left;
    margin-right: 5px;
    padding: 2px;
}
.badge-part-active {
    background: #333333;
    border-radius: 5px;
    color : #ffffff;
    float: left;
    margin-right: 5px;
    padding: 2px;
}
.chinese-text {font-family: "simkai", "SimSun", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;}
.cursor {cursor:pointer;}
.grade1 {color: #e68e8e;}
.grade2 {color: #efec10;}
.grade3 {color: #70da70;}
.grade4 {color: #4097d3;}
.japanese-text {font-family: "kaisho", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;}


/*** CANVAS ***/
#input-container {
    background: #ffffff;
    border: 2px #000000 solid;
    cursor: pointer;
    margin: 45px auto 0 auto;
    padding: 0;
    position: relative;
}


/*** GRADING BUTTONS ***/
#grading-buttons {
    bottom: 5px;
    margin: 0;
    position: absolute;
    width: 100%;
}
#grading-buttons div {
    cursor: pointer;
    display: inline-block;
    opacity: 0.8;
    position: relative;
}
#grading-buttons div img {
    display: block;
    max-height: 10%;
    min-height: 40px;
    margin: 0 auto 5px auto;
}
#grading-buttons div:hover { opacity: 1.0; }

/*** MODALS ***/
.modal { overflow-y: hidden; }
.model #slider { width: 100%; }
.modal #error-message { padding-top: 20px; }
.modal-vertical-centered {
    outline: 0;
    transform: translate(0, 20%) !important;
    -ms-transform: translate(0, 20%) !important;
    -webkit-transform: translate(0, 20%) !important;
}


/*** MODALS: LOGIN ***/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/*** NAVBAR ***/
.navbar .fa-navbar {
    font-size: 18px;
}
.navbar .navbar-text a {
    padding-left: 10px;
    padding-right: 10px;
}
@media (max-width: 992px) {
    .navbar .pull-right {
        padding-right: 25px;
    }
}
@media (max-width: 767px) {
    .navbar .navbar-text {
        margin-left: 25px;
    }
    .navbar .navbar-text a {
        padding-left: 5px;
        padding-right: 5px;
    }
}


/*** OPTIONS ***/
#options-view .control-label {
    min-width: 100px;
}


/*** PROMPT: INFO ***/
#info-container {
    background: #ffffff;
    border-bottom: 2px #000000 solid;
    border-top: 2px #000000 solid;
    border-left: 2px #000000 solid;
    font-family: Arial, Arial Unicode, Lucida Sans Unicode;
    margin: 45px auto 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
}
#info-container .row {
    padding-top: 7px;
}
#info-container .prompt-writing {
    font-size: xx-large;
    margin-top: -10px;
}
#info-container .prompt-writing-shown {
    visibility: visible;
}
#info-container .prompt-writing-hidden {
    visibility: hidden;
}
#info-container .prompt-underline {
    border-bottom: 1px #000000 solid;
    margin: 0 5px;
}
#info-container .prompt-sentence {
    font-size: 18px;
}
@media (max-width: 992px) {
    #info-container { 
        border-right: 2px #000000 solid;
        margin: 0 auto 0 auto;
    }
}
@media (max-width: 767px) {
    #info-container {
        border: none;
        border-bottom: 2px #000000 solid;
    }
}


/*** PROMPT: INPUT ***/
#input-container {
    background: #ffffff;
    border: 2px #000000 solid;
    cursor: pointer;
    margin: 45px auto 0 auto;
    padding: 0;
    position: relative;
}
#input-container #prompt-text {
    height: 100%;
    padding-top: 20%;
    text-align: center;
}
#input-container .prompt-nav-arrow {
    cursor: pointer;
    position: absolute;
    top: 45%;
    opacity: 0.3;
    z-index: 1000;
}
#input-container .prompt-nav-arrow:hover {
    opacity: 1.0;
}
#input-container #prompt-previous {
    left: 15px;
}
#input-container #prompt-next {
    right: 15px;
}
#input-container .prompt-style {
    background: #ffffff;
    left: 0;
    padding: 5px;
    position: absolute;
    top: 0;
}
#input-container #canvas-container {
    position: relative;
}
#input-container #canvas-container #canvas-touch {
    position: absolute;
}
#input-container #canvas-container #canvas-display {
    position: absolute;
}
@media (max-width: 992px) {
    #input-container {
        margin: 15px auto 0 auto;
    }
}
@media (max-width: 600px) {
    #input-container {
        box-shadow: none;
        border: none;
        left: 0;
        margin: 0 auto;
        padding: 0;
    }
}


/*** STUDY ***/
#study-view {
    overflow: hidden;
}


/*** TESTS ***/
#HTMLReporter {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


/*** VIEW ***/
.view {
    height: 100%;
    overflow-y: auto;
    padding-top: 60px;
}
.view .content {
    border: 2px #e7e7e7 solid;
    background: #ffffff;
    margin-bottom: 15px;
    padding: 15px;
}
@media (max-width: 992px) {
    .view {
        padding-top: 45px;
    }
    .view .content {
        border-width: 1px;
        margin-bottom: 0;
    }
}


/*** VOCAB: INFO ***/
#vocab-info-view .row {
    font-family: Arial, Arial Unicode, Lucida Sans Unicode;
    font-size: medium;
}
#vocab-info-view #writing {
    text-align: center;
}
#vocab-info-view #definition-reading {
    padding-bottom: 30px;
    padding-top: 30px;
}
#vocab-info-view #sentence-writing {
    font-size: larger;
}
#vocab-info-view #sentence-reading {
    font-weight: bold;
}
#vocab-info-view #contained-table, #vocab-info-view #decompositions-table {
    padding: 14px;
}
#vocab-info-view #contained-table .writing, #vocab-info-view #decompositions-table .writing {
    font-size: x-large;
}
@media (max-width: 601px) {
    #vocab-info-view #contained, #vocab-info-view decompositions {
        padding: 0;
    }
}


/*** PROMPT: HORIZONTAL ***/
@media (max-height: 600px) and (min-width: 600px) {
    html {
        overflow-y: hidden;
    }
    .container {
        width: 100%;
    }
    #info-container {
        bottom: 0;
        border-bottom: none;
        border-left: none;
        border-right: 2px solid #333333;
        border-top: none;
        position: absolute;
        margin: 45px 0 0 0;
        top: 0;
    }
    #input-container {
        border: none;
        right: 0;
        margin: 45px 0 0 0;
        position: absolute;
        top: 0;
    }
}