<div id="recog-editor-view">
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a id="back-button" class="navbar-brand" href="#">Back</a>
                <!--<div id="new-button" class="navbar-text lr-padding">New</div>-->
            </div>
        </div>
    </div>

    <div class="container">
        
        <div class="row">
            <div class="col-md-2">
                <div id="stroke-list" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Strokes</h3>
                    </div>
                    <div class="panel-body" style="overflow-y: scroll"></div>
                </div>
            </div>
            <div class="col-md-2">
                <div id="param-list" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Params</h3>
                    </div>
                    <div class="panel-body" style="overflow-y: scroll"></div>
                </div>
            </div>
            <div class="col-md-8">
                <div id="description" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Description</h3>
                    </div>
                    <div class="panel-body"></div>
                </div>
                <div id="canvas-container"></div>
            </div>
        </div>
        
    </div>
    
</div>