<IfModule mod_expires.c>
    ExpiresActive On
    <FilesMatch "\.(appcache)$">    
        ExpiresDefault "access plus 1 seconds"
    </FilesMatch>
    <FilesMatch "\.(css|html|js)$">    
        ExpiresDefault "access plus 1 hour"
    </FilesMatch>
    <FilesMatch "\.(eot|ico|otf|png|svg|ttf|woff)$">
        ExpiresDefault "access plus 1 month"
    </FilesMatch>
</IfModule>
<ifModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !index
    RewriteRule (.*) index.html [L]
</ifModule>