# Directories #
build/
config/
cordova/android/assets/
nbproject/
platforms/android/bin/
platforms/android/gen/
platforms/android/assets/www/
public_html/media/audio/
public_html/node_modules/

# Files #
*.DS_Store