<div id="grading-buttons" class="row" style="display: none;">
    <div id="grade1" class="col-xs-3 col-sm-3"><span class="text">wrong</span><img src="images/grading/grade1.png" alt=""></div>
    <div id="grade2" class="col-xs-3 col-sm-3"><span class="text">so-so</span><img src="images/grading/grade2.png" alt=""></div>
    <div id="grade3" class="col-xs-3 col-sm-3"><span class="text">got it</span><img src="images/grading/grade3.png" alt=""></div>
    <div id="grade4" class="col-xs-3 col-sm-3"><span class="text">easy</span><img src="images/grading/grade4.png" alt=""></div>
</div>
