<div id="home-view" class="logged-out view">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="hidden-xs home-button navbar-brand" href="#">Skritter</a>  
                <ul class="navbar-nav navbar-text list-inline">
                    <li><a class="study-button" href="#"><span class="fa fa-pencil"></span> Study</a></li>
                </ul>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a class="options-button" href="#"><span class="fa fa-gear"></span> Options</a></li>
                    <li><a class="logout-button" href="#"><span class="fa fa-power-off"></span> Logout</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <div class="container"></div>
</div>