<div id="home-view" class="view">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Skritter</a>
                <div class="navbar-text">   
                    <ul class="navbar-nav list-inline">
                        <li><a class="cursor login-button">Log In</a></li>
                        <li><a href="http://www.skritter.com">Sign Up</a></li>
                        <li><a href="https://github.com/mcfarljw/skritter-html5/issues">GitHub Issues</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    
    <div class="container">
        <div id="introduction" class="content row">
            <div class="col-md-3">
                <img src="images/skritter-logo.png" alt="">
            </div>
            <div class="col-md-9">
                <h2>Learn to Write Chinese and Japanese Characters.</h2>
                <p><strong>Skritter</strong> is a tool for learning Chinese and Japanese writing with stroke-level feedback, tone practice, audio playback, definition practice, and progress feedback.</p>
            </div>
        </div>

        <div id="demo" class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
        </div>

        <div id="features" class="row">
            <div class="col-md-3">
                <div class="media">
                    <div class="pull-left">
                        <div id="brush" class="feature-icon"></div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Real Handwriting</h4>
                        With Skritter, you write, not trace. Skritter gives you immediate stroke-level feedback.
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="media">
                    <div class="pull-left">
                        <div id="plane" class="feature-icon"></div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Study Anywhere</h4>
                        No internet? No problem. Learn offline, automatically sync when connection returns. Happy travels!
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="media">
                    <div class="pull-left">
                        <div id="book" class="feature-icon"></div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Every Textbook</h4>
                        Don't waste time making lists. If you're studying from a textbook, we probably already have it.
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="media">
                    <div class="pull-left">
                        <div id="watch" class="feature-icon"></div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">54 Seconds Per Item</h4>
                        Skritter users learn characters ten times faster than with competing apps.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>