<div id="info-view" class="view">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="link-button navbar-brand" data-fragment="/">Skritter</a>
                <div class="navbar-text">   
                    <ul class="navbar-nav list-inline">
                        <li><a class="link-button" data-fragment="#back"><span class="fa fa-navbar fa-arrow-left"></span></a></li>
                        <li class="cursor"><a id="ban-button"><span class="fa fa-navbar fa-ban"> Ban</span></a></li>
                        <li class="cursor"><a id="star-button"><span class="fa fa-navbar fa-star-o"> Star</span></a></li>
                        <li><a id="audio-button" class="cursor"><span class="fa fa-navbar fa-volume-up"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container content">

        <div class="row">
            <div id="writing" class="col-xs-12 col-sm-6 col-md-6 writing"></div>
            <div id="definition-reading" class="col-xs-12 col-sm-6 col-md-6">
                <span id="reading"></span> :
                <span id="definition"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6"></div>
            <div id="sentence" class="col-md-6">
                <div id="sentence-writing"></div>
                <h5 id="sentence-reading"></h5>
                <h5 id="sentence-definition"></h5>
            </div>
        </div>
        
        <div id="contained-characters"  class="row">
            <div class="col-md-12">
                <h4>Characters in <span class="writing"></span></h4>
                <table class="table table-hover">
                    <tbody></tbody>
                </table>
            </div>
        </div>
        
        <div id="decompositions"  class="row">
            <div class="col-md-12">
                <h4>Decompositions in <span class="writing"></span></h4>
                <table class="table table-hover">
                    <tbody></tbody>
                </table>
            </div>
        </div>
        
    </div><!--/container-->
</div>