<div id="info-view" class="view">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Skritter</a>
                <div class="navbar-text">   
                    <ul class="navbar-nav list-inline">
                        <li><a class="link-button" data-fragment="#back"><span class="fa fa-navbar fa-arrow-left"></span></a></li>
                        <li id="ban-button"><a href="#"><span class="fa fa-navbar fa-ban">Ban</span></a></li>
                        <li id="star-button"><a href="#"><span class="fa fa-navbar fa-star-o">Star</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container content">

        <div class="row">
            <div id="writing" class="col-xs-12 col-sm-6 col-md-6 "></div>
            <div class="col-xs-6 col-md-6">
                <span id="reading"></span> :
                <span id="definition"></span>
            </div>
        </div>

        <div class="row">
            <div id="mnemonic" class="col-sm-12 col-md-6"></div>
            <div id="sentence" class="col-md-6"></div>
        </div>

    </div><!--/container-->
</div>