<div id="lists-view" class="view">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Skritter</a>
                <div class="navbar-text">   
                    <ul class="navbar-nav list-inline">
                        <li><a class="link-button" data-fragment="/"><span class="fa fa-navbar fa-arrow-left"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        
        <div class="row">
            <div id="categories" class="col-md-3 content">
                <div class="row">
                    <div class="col-xs-4 col-md-12"><h4><span class="fa fa-list"></span> My Lists</h4></div>
                    <div class="col-xs-4 col-md-12"><h4><span class="fa fa-book"></span> Textbooks</h4></div>
                    <div class="col-xs-4 col-md-12"><h4><span class="fa fa-smile-o"></span> Other</h4></div>
                </div>
            </div>
            <div id="lists" class="col-md-9 content">
                <table id="lists-table" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>People Studying</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        
    </div>
    
</div>