<div id="tone" class="prompt">
    
    <div id="info-container">
        <div class="prompt-row"><span class="prompt-reading"></span></div>
        <div class="prompt-row">
            <span class="prompt-writing"></span>
            <span class="prompt-style"></span>
        </div>
        <div class="prompt-row"><span class="prompt-definition"></span></div>
        <div class="prompt-row"><span class="prompt-sentence"></span></div>
    </div>
    
    <div id="input-container">
        <div id="canvas-container"></div>
        <div id="grading-container"></div>
    </div>
    
</div>