<div id="defn" class="container prompt">
    <div class="row">
        <div id="info-container" class="col-lg-4">
            <div class="row">
                <div id="prompt-reading-row" class="col-xs-6"><div class="prompt-reading"></div></div>
                <div id="prompt-writing-row" class="col-xs-6 col-lg-12"><div class="prompt-writing"></div></div>
            </div>
            <div class="row hidden">
                <div id="prompt-definition-row" class="col-md-12 prompt-definition"></div>
            </div>
            <div class="row">
                <div id="prompt-sentence-row" class="col-md-12 prompt-sentence"></div>
            </div>
        </div>

        <div id="input-container" class="col-lg-8">
            <div id="prompt-text">
                <span class="prompt-writing"></span>
                <h3 class="prompt-definition"></h3>
                <p id="tip"></p>
            </div>
            <div id="grading-container"></div>
        </div>
    </div>
</div>