<div id="rdng" class="prompt">
    <div class="row">
        <div id="info-container" class="col-md-4">
            <div class="row hidden">
                <div id="prompt-reading-box" class="col-xs-6 col-md-12 prompt-box"><div class="font-size-normal prompt-reading"></div></div>
                <div id="prompt-writing-box" class="col-xs-6 col-md-12 prompt-box"><div class="font-size-large prompt-writing"></div></div>
            </div>
            <div class="row">
                <div id="prompt-definition-box" class="col-md-12 font-size-normal prompt-box">
                    <div class="prompt-heisig"></div>
                    <div class="prompt-definition"></div>
                </div>
            </div>
            <div class="row">
                <div id="prompt-sentence-box" class="col-md-12 font-size-normal prompt-box prompt-sentence"></div>
            </div>
            <div class="row">
                <div id="prompt-mnemonic-box" class="col-md-12 font-size-normal prompt-box prompt-mnemonic"></div>
            </div>
        </div>
        <div id="input-container" class="col-md-8">
            <div id="prompt-previous" class="prompt-nav-arrow"><span class="fa fa-3x fa-chevron-left"></span></div>
            <div id="prompt-next" class="prompt-nav-arrow"><span class="fa fa-3x fa-chevron-right"></span></div>
            <div class="prompt-style"></div>
            <div id="prompt-text">
                <span class="font-size-large prompt-writing"></span>
                <h3 class="font-size-normal prompt-reading"></h3>
                <p class="font-size-normal prompt-tip"></p>
            </div>
            <div id="grading-container"></div>
        </div>
    </div>
</div>