<div id="defn" class="prompt">
    <div class="row">
        <div id="info-container" class="col-md-4">
            <h3 class="prompt-question"></h3>
            <div id="prompt-writing-box" class="prompt-box pull-left">
                <div class="prompt-writing-buffer pull-left"></div>
                <div class="font-size-large prompt-writing"></div>
            </div>
            <div id="prompt-reading-box" class="prompt-box pull-left">
                <div class="font-size-normal prompt-reading"></div>
            </div>
            <div id="prompt-definition-box" class="font-size-normal prompt-box">
                <div class="prompt-heisig"></div>
                <div class="prompt-definition"></div>
            </div>
            <div id="prompt-sentence-box" class="font-size-normal prompt-box">
                <span class="prompt-sentence"></span>
            </div>
            <div id="prompt-mnemonic-box" class="font-size-normal prompt-box">
                <span class="prompt-mnemonic"></span>
            </div>
        </div>
        <div id="input-container" class="col-md-8">
            <div id="prompt-previous" class="prompt-nav-arrow"><span class="fa fa-3x fa-chevron-left"></span></div>
            <div id="prompt-next" class="prompt-nav-arrow"><span class="fa fa-3x fa-chevron-right"></span></div>
            <div class="prompt-style"></div>
            <div id="prompt-text">
                <h1 class="prompt-definition" style="font-weight: bolder"></h1>
                <h4 class="prompt-tip"></h4>
            </div>
            <div id="grading-container"></div>
        </div>
    </div>
</div>