<div id="tone" class="prompt">
    <div class="row">
        <div id="info-container" class="col-md-4">
            <div class="row">
                <div id="prompt-writing-box" class="col-xs-6 col-md-12 prompt-box"><div class="prompt-writing"></div></div>
                <div id="prompt-reading-box" class="col-xs-6 col-md-12 prompt-box"><div class="prompt-reading"></div></div>
            </div>
            <div class="row">
                <div id="prompt-definition-box" class="col-md-12 prompt-box">
                    <div class="prompt-heisig"></div>
                    <div class="prompt-definition"></div>
                </div>
            </div>
            <div class="row">
                <div id="prompt-sentence-box" class="col-md-12 prompt-box prompt-sentence"></div>
            </div>
            <div class="row">
                <div id="prompt-mnemonic-box" class="col-md-12 prompt-box prompt-mnemonic"></div>
            </div>
        </div>
        <div id="input-container" class="col-md-8">
            <div class="prompt-style"></div>
            <div id="canvas-container"></div>
            <div id="grading-container"></div>
        </div>
    </div>  
</div>