<div id="tone" class="prompt">
    <div class="row">
        <div id="info-container" class="col-md-4">
            <div class="row">
                <div class="col-xs-6"><span class="badge-part">W</span><div class="prompt-writing"></div></div>
                <div class="col-xs-6"><span class="badge-part-active">R</span><div class="prompt-reading"></div></div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <span class="badge-part">D</span>
                    <div class="prompt-heisig"></div>
                    <div class="prompt-definition"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <span class="badge-part">S</span>
                    <span class="prompt-sentence"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <span class="badge-part">M</span>
                    <span class="prompt-mnemonic"></span>
                </div>
            </div>
        </div>
        <div id="input-container" class="col-md-8">
            <div id="prompt-previous" class="prompt-nav-arrow"><span class="fa fa-3x fa-chevron-left"></span></div>
            <div id="prompt-next" class="prompt-nav-arrow"><span class="fa fa-3x fa-chevron-right"></span></div>
            <div class="prompt-style"></div>
            <div id="canvas-container"></div>
            <div id="grading-container"></div>
        </div>
    </div>  
</div>