<div id="defn" class="container prompt">
    <div class="row">
        <div id="info-container" class="col-lg-4">
            <div class="row">
                <div id="prompt-reading-box" class="col-xs-6 prompt-box"><div class="prompt-reading"></div></div>
                <div id="prompt-writing-box" class="col-xs-6 col-lg-12 prompt-box"><div class="prompt-writing"></div></div>
            </div>
            <div class="row hidden">
                <div id="prompt-definition-box" class="col-md-12 prompt-definition prompt-box"></div>
            </div>
            <div class="row">
                <div id="prompt-sentence-box" class="col-md-12 prompt-box prompt-sentence"></div>
            </div>
            <div class="row">
                <div id="prompt-mnemonic-box" class="col-md-12 prompt-box prompt-mnemonic"></div>
            </div>
        </div>

        <div id="input-container" class="col-lg-8">
            <div id="prompt-text">
                <span class="prompt-writing"></span>
                <h3 class="prompt-definition"></h3>
                <p id="tip"></p>
            </div>
            <div id="grading-container"></div>
        </div>
    </div>
</div>