<div id="rdng" class="prompt">
    <span class="fa fa-2x fa-chevron-left navigation left"></span>
    <span class="fa fa-2x fa-chevron-right navigation right"></span>
    <div id="info-container">
        <div class="row">
            <div class="col-xs-6"><span class="active part-badge">W</span><div class="prompt-writing"></div></div>
            <div class="col-xs-6"><span class="part-badge">R</span><div class="prompt-reading"></div></div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <span class="part-badge">D</span>
                <div class="prompt-heisig"></div>
                <div class="prompt-definition"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <span class="part-badge">S</span>
                <span class="prompt-sentence"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <span class="part-badge">M</span>
                <span class="prompt-mnemonic"></span>
            </div>
        </div>
    </div>
    <div id="input-container">
        <div id="canvas-container"></div>
        <div id="grading-container"></div>
    </div>
</div>