<div id="study-view" class="view">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <a class="navbar-brand hidden-xs" href="#">Skritter</a>
            <div class="navbar-text">   
                <ul class="navbar-nav list-inline">
                    <li><a class="link-button" data-fragment="/"><span class="fa fa-navbar fa-arrow-left"></span></a></li>
                    <li><span class="fa fa-navbar fa-clock-o"></span> <span id="timer"></span></li>
                    <li><span class="fa fa-navbar fa-pencil"></span> <span id="items-due"></span></li>
                    <li><a id="add-button" class="cursor"><span class="fa fa-navbar fa-plus"></span></a></li>
                    <li><a id="audio-button" class="cursor"><span class="fa fa-navbar fa-volume-off"></span></a></li>
                    <li><a id="info-button" class="cursor"><span class="fa fa-navbar fa-info-circle"></span></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="prompt-container"></div>
</div>