<div id="vocab-info-view" class="view">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>-->
                <a class="navbar-brand" href="#">Skritter</a>
                <div class="navbar-text">   
                    <ul class="navbar-nav list-inline">
                        <li><a href="#"><span class="fa fa-navbar fa-arrow-left"></span></a></li>
                    </ul>
                </div>
            </div>
            <!--<div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="../navbar/">Default</a></li>
                    <li><a href="../navbar-static-top/">Static top</a></li>
                    <li class="active"><a href="./">Fixed top</a></li>
                </ul>
            </div>-->
        </div>
    </div>
    <div class="container content">
        <div class="row">
            <h1 id="writing" class="col-xs-12 col-sm-6 col-md-6 writing"></h1>
            <div id="definition-reading" class="col-xs-12 col-sm-6 col-md-6">
                <h2>
                    <span id="reading"></span> :
                    <span id="definition"></span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div id="sentence" class="col-md-6">
                <h4 id="sentence-writing"></h4>
                <h4 id="sentence-reading"></h4>
                <h4 id="sentence-definition"></h4>
            </div>
        </div>
        <div id="contained"  class="row">
            <div class="col-md-12">
                <h4>Characters in <span class="writing"></span></h4>
            </div>
        </div>
        <div id="decompositions"  class="row">
            <div class="col-md-12">
                <h4>Decompositions in <span class="writing"></span></h4>
            </div>
        </div>
    </div>
</div>