<div id="settings-view">
    <div id="content" style="display: none;">
	
	<div id="thresholds">
	    <strong>Thresholds</strong>
	    <label for="thresholdDistance">Distance</label><input name="thresholdDistance" id="thresholdDistance" type="text">
	    <label for="thresholdDirection">Direction</label><input name="thresholdDirection" id="thresholdDirection" type="text">
	    <label for="thresholdLength">Length</label><input name="thresholdLength" id="thresholdLength" type="text">
	    <label for="thresholdOrderStrictness">Order Strictness</label><input name="thresholdOrderStrictness" id="thresholdOrderStrictness" type="text">
	</div>
	
	<div id="parts">
	    <strong>Parts</strong>
	    <label for="rune">Writing</label><input name="rune" id="rune" type="checkbox">
	    <label for="tone">Tone</label><input name="tone" id="tone" type="checkbox">
	    <label for="defn">Definition</label><input name="defn" id="defn" type="checkbox">
	    <label for="rdng">Reading</label><input name="rdng" id="rdng" type="checkbox">
	</div>
	
	<button id="save" class="blue-button">Save</button>
	<button id="cancel" class="blue-button">Cancel</button>
	
    </div>
</div>