<div id="recog-editor-view">
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a id="back-button" class="navbar-brand" href="#">Back</a>
                <ul class="nav navbar-nav">
                    <li id="new-button"><a class="btn">New</a></li>
                    <li id="save-button"><a class="btn">Save</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        
        <div class="row">
            <div class="col-md-2">
                <div id="stroke-list" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Strokes</h3>
                    </div>
                    <div class="panel-body" style="overflow-y: scroll"></div>
                </div>
            </div>
            <div class="col-md-2">
                <div id="param-list" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Params</h3>
                    </div>
                    <div class="panel-body" style="overflow-y: scroll"></div>
                </div>
            </div>
            <div class="col-md-8">
                <div id="description" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Description</h3>
                    </div>
                    <div class="panel-body">
                        <label for="contains">Contains</label>
                        <input id="contains" type="text">
                        <label for="corners">Corners</label>
                        <input id="corners" type="text" readonly>
                        <label for="deviations">Deviations</label>
                        <input id="deviations" type="text" readonly>
                        <label for="feedback">Feedback</label>
                        <input id="feedback" type="text">
                    </div>
                </div>
                <div id="canvas-container"></div>
            </div>
        </div>
        
    </div>
    
</div>