<div id="info-view">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div id="close-button" class="navbar-brand">Close</div>
                <div id="ban-button" class="navbar-text">{ban}</div>
                <div id="star-button" class="navbar-text">{star}</div>
                <div id="audio-button" class="navbar-text">{audio}</div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div id="description" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Overview</h3>
                    </div>
                    <div class="panel-body">
                        <h1 id="writing">你好</h1>
                        <h3 id="reading">ni2hao3</h3>
                        <h4 id="definition">hello, common greeting</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="stats" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Stats</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Part</th>
                                    <th>Next</th>
                                    <th>Last</th>
                                    <th>Spent</th>
                                    <th>Success</th>
                                    <th>Learned</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="stat-rune"><td class="spart"></td><td class="snext"></td><td class="slast"></td><td class="sspent"></td><td class="ssuccess"></td><td class="slearned"></td></tr>
                                <tr id="stat-tone"><td class="spart"></td><td class="snext"></td><td class="slast"></td><td class="sspent"></td><td class="ssuccess"></td><td class="slearned"></td></tr>
                                <tr id="stat-rdng"><td class="spart"></td><td class="snext"></td><td class="slast"></td><td class="sspent"></td><td class="ssuccess"></td><td class="slearned"></td></tr>
                                <tr id="stat-defn"><td class="spart"></td><td class="snext"></td><td class="slast"></td><td class="sspent"></td><td class="ssuccess"></td><td class="slearned"></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div id="mnemonic-panel" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Mnemonic</h3>
                    </div>
                    <div class="panel-body">
                        <h4 id="mnemonic">The room where you handle public affairs</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="contained-panel" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Contained</h3>
                    </div>
                    <div class="panel-body">
                        No contained characters.
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div id="sentence-panel" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Sentence</h3>
                    </div>
                    <div class="panel-body">
                        <h3 id="sentence"></h3>
                        <h4 id="sentence-reading"></h4>
                        <h4 id="sentence-translated"></h4>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>