<div id="options-view">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a id="back-button" class="navbar-brand" href="#">Back</a>
                <a id="save-button" class="navbar-text" href="#">Save</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="study-settings" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Study Settings</h3>
                    </div>
                    <div id="parts" class="panel-body">
                        <h4>Language</h4>
                        <div class="btn-group">
                            <button type="button" id="language-style" class="btn btn-default">{current language}</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul id="language-options" class="dropdown-menu" role="menu">
                                <li><a id="style-zh-both">Chinese (Both)</a></li>
                                <li><a id="style-zh-simp">Chinese (Simplified)</a></li>
                                <li><a id="style-zh-trad">Chinese (Traditional)</a></li>
                                <li class="divider"></li>
                                <li><a id="style-ja">Japanese</a></li>
                            </ul>
                        </div>
                        <h4>Parts</h4>
                        <div class="btn-group" >
                            <div class="checkbox">
                                <label>
                                    <input id="part-rune" type="checkbox"> Writing
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input id="part-tone" type="checkbox"> Tone
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input id="part-rdng" type="checkbox"> Reading
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input id="part-defn" type="checkbox"> Definition
                                </label>
                            </div>
                        </div>
                        <h4>Audio</h4>
                        <div id="audio" class="btn-group">
                            <button id="audio-on" type="button" class="btn btn-default">On</button>
                            <button id="audio-off" type="button" class="btn btn-default">Off</button>
 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="study-settings" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Stroke Order</h3>
                    </div>
                    <div class="panel-body">
                        <h4>Animation Speed</h4>
                        <input id="animation-speed" name="animation-speed" type="range" min="1" max="100" value="50">
                        <h4>Order Strictness</h4>
                        <input id="order-strictness" name="order-strictness" type="range" min="1" max="100" value="75">
                        <h4>Raw Squigs</h4>
                        <div id="raw-squigs" class="btn-group">
                            <button id="raw-squigs-on" type="button" class="btn btn-default">On</button>
                            <button id="raw-squigs-off" type="button" class="btn btn-default">Off</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6 hidden">
                <div id="leap-settings" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Leap Motion</h3>
                    </div>
                    <div class="panel-body">
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
    
</div>