<div id="study-view">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a id="back-button" class="navbar-brand" href="#">Back</a>
                <div id="items-due" class="navbar-text lr-padding">{due}</div>
                <div id="timer" class="navbar-text lr-padding">{time}</div>
                <div id="add-button" class="navbar-text lr-padding">{add}</div>
                <div id="audio-button" class="navbar-text lr-padding">{audio}</div>
                <div id="info-button" class="navbar-text lr-padding">{info}</div>
            </div>
        </div>
    </div>
    
    <div id="prompt-container"></div>
    
</div>