<div id="study-view">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="back-button" class="navbar-brand" href="#">Back</a>
                <div id="items-due" class="navbar-text lr-padding">{due}</div>
                <div id="timer" class="navbar-text lr-padding">{time}</div>
                <div id="add-button" class="navbar-text lr-padding">{add}</div>
                <div id="audio-button" class="navbar-text lr-padding">{audio}</div>
                <div id="info-button" class="navbar-text lr-padding">{info}</div>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="http://www.skritter.com/blog">Blog</a></li>
                    <li><a href="http://www.skritter.com/forum">Forum</a></li>
                    <li><a href="http://www.skritter.com/faq">Help</a></li>
                    <li><a href="#logout">Log Out</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    
    <div id="prompt-container"></div>
    
</div>