<div id="parambuilder-view">
    
    <div id="toolbar-container"></div>
    
    <div id="bitmap-list"></div>
    
    <div id="bitmap-options">
	<div id="offset-container">
	    Angle
	    <input id="angle" type="text" />
	    Position
	    <input id="x" type="text" />
	    <input id="y" type="text" />
	</div>
	<div id="points-container">
	    Corners
	    <textarea id="corners"></textarea>
	    Deviations
	    <textarea id="deviations"></textarea>
	</div>
    </div>
    
    <div id="writing-area"></div>
    
</div>