<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Skritter</a>
            <div class="navbar-text">   
                <ul class="navbar-nav list-inline">
                    <li><a class="link-button" data-fragment="/"><span class="fa fa-arrow-left"></span></a></li>
                    <li><a class="link-button" data-fragment="lists">Lists</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <table id="vocabs-table" class="table table-hover">
        <thead>
            <tr>
                <th>Writing</th>
                <th>Reading</th>
                <th>Definition</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

</div><!--/container-->