/* GENERAL */
#skritter-container {
    color: #ffffff;
    height: 100%;
    
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

/* HOME VIEW */
#home-view #version {
    position: absolute;
    right: 0;
}

/* PROMPT VIEW */
#prompt-view #top {
    font-family: "simkai";
    margin: 0 auto;
    text-align: center;
}
#prompt-view #top #writing {
    font-size: 64px;
}
#prompt-view #top #sentence {
    font-size: 32px;
}
#prompt-view #prompt-area {
    background: #000000;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
#prompt-view #writing-area {
    margin: 0 auto;
}
#prompt-view div.prompt-display {
    display: inline-block;
    min-width: 20px;
    margin: 0 5px;
}
#prompt-view div.prompt-hidden {
    display: inline-block;
    min-width: 20px;
    margin: 0 5px;
    border-bottom: 2px black solid;
}

/* WRITING AREA */
#writing-area {
    overflow-x: visible;
    position: relative;
}
#writing-area canvas {
    position: absolute;
}

/* GRADING BUTTONS VIEW */
#grading-buttons {
    position: absolute;
    width: 100%;
    bottom: 0;
}
#grading-buttons div {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 14%;
    min-height: 30px;
    margin: 0 0 5px 0;
    padding: 15px 5%;
    text-align:  center;
    cursor: pointer;
}
#grading-buttons #grade1 { background-image: url('../media/image/button/grade1.png'); }
#grading-buttons #grade2 { background-image: url('../media/image/button/grade2.png'); }
#grading-buttons #grade3 { background-image: url('../media/image/button/grade3.png'); }
#grading-buttons #grade4 { background-image: url('../media/image/button/grade4.png'); }